body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #2a9247;
}

main {
    text-align: center; 
}

h1 {
    color: white;
}


.partida-container form {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}

.partida-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 15px;
    margin: 20px auto; 
    border: 3px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.779);
}

.centered-button {
    appearance: button;
    background-color: #390a0e;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    margin-top: 3px;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
   }
   
   .centered-button:after {
    background-clip: padding-box;
    background-color: #cf2634;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   .centered-button:main, .centered-button:focus {
    user-select: auto;
   }
   
   .centered-button:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   .centered-button:disabled {
    cursor: auto;
   }
   
   .centered-button:active:after {
    border-width: 0 0 0px;
   }
   
   .centered-button:active {
    padding-bottom: 10px;
   }

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bookmarkBtn {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid white;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #2a9247,#2a9247);
   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: .3s;
    font-size: 1.04em;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 90px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }

  .cssbuttons-io-button {
    background: #0f3319;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #2a9247;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #2a9247;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #2a9247;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  

