body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background: #2a9247;
}


header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  gap: 24px;
  margin-top: 12px;
}

main {
  text-align: center;
  max-width: 90%; 
  margin: 0 auto; 
  padding: 20px; 
}



.buttonLkd {
  display: flex;
  background-color: #0A66C2;
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
 
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
}

.buttonLkd svg {
  height: 30px;
}

.buttonLkd:hover {
  box-shadow: none;
}

main {
  text-align: center; 
}


.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  padding: 15px;
  margin: 20px auto; 
  border: 3px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.779);
}

h1 {
  color: white;
}

h2 {
  color: #cf2634;
}

h3{
  color: #238b49;
}


.error-message {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  width: 70%;
  border: 5px solid pink;
  margin: 20px auto;
  
}

.ok-message {
    color: green
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}



.button {
    position: relative;
    width: 220px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid #cf2634;
    background-color: #cf2634c1;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(170px);
    height: 100%;
    width: 39px;
    background-color: #cf2634c1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #cf2634c1;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 170px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #cf2634c1;
  }
  
  .button:active {
    border: 2px solid #cf2634c1;
  }

  .contactButton {
    background: #3cb371;
    color: white;
    font-family: inherit;
    padding: 0.5em;
    padding-left: 1.2em;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.8em -0.7em #2e8b57;
    overflow: hidden;
    position: relative;
    height: 3em;
    padding-right: 3.5em;
  }
  
  .iconButton {
    margin-left: 1.2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4em;
    width: 2.4em;
    border-radius: 1.2em;
    box-shadow: 0.15em 0.15em 0.8em 0.3em #32cd32;
    right: 0.4em;
    transition: all 0.3s;
  }
  
  .contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.2em 0.2em #228b22;
  }
  
  .contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.1em 0.1em #228b22;
  }

